FLASK_ENV=production
DB_HOST={{ db_host | default('') }}
DB_PORT={{ db_port | default('5432') }}
DB_NAME={{ db_name | default('') }}
DB_USER={{ db_user | default('') }}
DB_PASSWORD={{ db_password | default('') }}
